/*Configurações para tablet*/

@media screen and (min-width: 768px) {
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    body{
        background-image: linear-gradient(to bottom, #5F2C82, #57568C, #517893);
    }
    
    main{
        width: 85vw;
    }

    .img{
        width: 45vw;
        height: auto;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
        margin: -10px 10px -10px -10px;
    }

    .login{
        display: flex;
        margin: 0px;
        padding: 0px;
    }

    .quebra{
        margin-top: 10px;
    }

    .caixa-entrada{
        width: calc(100% - 45px);
    }

    .botao{
        width: 100%;
    }

}