/*Configurações para telas grandes*/

@media screen and (min-width: 992px) {
    .login{
        flex-direction: row-reverse;
    }

    main{
        width: 950px;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h1{
        margin-top: -20px;
        margin-bottom: 20px;
    }

    p{
        font-size: 1em;
        margin-bottom: 20px;
    }

    .img{
        width: 800px;
        margin: -20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: 10px;
    }

    .container{
        width: auto;
    }

    .caixa-entrada{
        width: 427px;
    }

    .espaco{
        margin-bottom: 30px;
    }

    .botao{
        height: 40px;
    }

}